* {
  padding: 0;
  margin: 0;
}

.TodoMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border-radius: 5%;
  border:solid #4c6585;
  width: 600px;
  height: 600px;
  margin-top: 30px; */
}

.TodoContainer {
  display: flex;
  justify-content: space-around;
  width: 400px;
  height: 500px;
  margin: auto;
  margin-top: 50px;
  background-color: #4c6585;
  color: white;
  border-radius: 5%;
  border: solid #3d444d 5px;
  overflow: auto;
}

.TodoContainer::-webkit-scrollbar {
  display: none;
}

.TodoList {
  /* padding: 20px; */
  padding-top: 10px;
  width: 180px;
}

.TodoList h1 {
  text-align: center;
  padding: 2px 0;
  border-bottom: solid;
}

.TodoList input {
  cursor: pointer;
  transform: scale(0.5);
	/* margin: 0 6px 0 0; */
}

.TodoList span {
  padding: 3px;
  margin: 0;
}

.TodoList li {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
}

.TodoItem div{
  display: flex;
  flex-direction: row;
}

.TodoCheckbox {
  margin-right: 5px;
}

.TodoTitle {
  display: flex;
  align-items: center;
  padding: 10px 5px;
  transform: scale(1.2);
  width: 100px;
  overflow-wrap: anywhere;
} 


.MainValue {
  margin-right: auto;
}


.EditTitle {
  display: flex;
}

.EditTitle input {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: start;
}


.TodoDone {
  text-decoration: line-through;
}

.AddTodo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: end;
  padding: 20px;
  margin: 10px 0;
  background-color: #3d444d;
  width: 350px;
}

.AddTodo input {
  /* width: 250px; */
  color: #4c6585;
  border-color: #4c6585;
}

.AddTodo button {
  height: 40px;
  width: 40px;
  background-color: #4c6585;
  margin-left: 10px;
}

.AddTodo button:hover {
  background-color: #22262b;
}